<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

---

---

### 1) What are the types of the following variables?

In [62]:
a = 1
b = 3.6
c = [1,2,3,5,6]
d = {'john':'smith', 'jane':'doe'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'
print(type(a),type(b),type(c),type(d),type(d),type(d),type(f),type(g),type(h), type(i))

<class 'int'> <class 'float'> <class 'list'> <class 'dict'> <class 'dict'> <class 'dict'> <class 'dict'> <class 'bool'> <class 'bool'> <class 'str'>

In [3]:
# A:

### 2) Create a list of 10 famous people called `famous_names`.

In [14]:
famous_names = ["Angela Merkel","Madonna","Teresa May", "Trump","Putin","Kim", "Beoynce","Einstein","Shakespeare","Dali"]

---

### 3) Print the first and last names on the list.

In [21]:
print(famous_names[:1])
print(famous_names[9:])
print(famous_names[-1])

['Angela Merkel']
['Dali']
Dali

---

### 4) Print the first five names in the `famous_names` list.

In [23]:
print(famous_names[0:5])

['Angela Merkel', 'Madonna', 'Teresa May', 'Trump', 'Putin']

---

### 5) Combine the 9th and 10th names into a single string, separated by a space. Assign that string to a variable.

In [26]:
names_combined=famous_names[8]+ " "+famous_names[9]
names_combined

'Shakespeare Dali'

---

### 6) Append an animal to the list of animals.

In [28]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [29]:
animals.append("kangaroo")

---

### 7) Remove an animal to the list of animals.

In [33]:
animals.pop(1)
animals

['duck', 'boar', 'slug', 'mammoth', 'gazelle', 'kangaroo']

---

### 8) Print the length of the `animals` list.

In [34]:
print(len(animals))

6

---

### 9) Divide the length of the fifth animal by the second.

In [36]:
len(animals[4])/len(animals[1])

1.75

---

### 10) Replace `"ranch"` in this list with another sauce and print the list.

In [47]:
sauces = ["mustard", "ketchup", "ranch", "caesar"]

In [48]:
sauces.pop(2)
sauces.insert(2,"olive oil")
sauces

['mustard', 'ketchup', 'olive oil', 'caesar']

---

### 11) Count the number of times `0` appears in the following list.

In [51]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [53]:
binary.count(0)

16

---

### 12) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [55]:
zip_code_dict={
    'sunset':94122,
    'presidio':94129,
    'soma':94105,
    'marina':94123,
}

---

### 13) Get the zip code for `'soma'` and assign it to a variable.

In [59]:
soma_zip_code=zip_code_dict['soma']
soma_zip_code

94105

---

### 14) Get the keys out of the dictionary.

In [63]:
my_dict = { "a": 1, "b": 2}

dir(my_dict)

my_dict.copy()
list(my_dict.keys())

['a', 'b']

---

### 15) Add The Castro to the dictionary with the zip code 94114.

In [61]:
zip_code_dict["Castro"]=94114
zip_code_dict

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'Castro': 94114}