In [3]:
#1st approach, list of dictionaries
first_entry ={
    "name":"John",
    "surname": "Smith",
    "age":44,
    "nationality":"English"
}

second_entry ={
    "name":"Jurgen",
    "surname": "Prits",
    "age":21,
    "nationality":"German"
}

list_of_names=[first_entry,second_entry]
print (list_of_names)

[{'name': 'John', 'surname': 'Smith', 'age': 44, 'nationality': 'English'}, {'name': 'Jurgen', 'surname': 'Prits', 'age': 21, 'nationality': 'German'}]

In [4]:
#second approach, dic of list

dict_of_names={
    "name":["John", "Jurgen"],
    "surname":["Smith","Fritz"],
    "age":[44,21],
    "nationality":["English","German"]
}

print (dict_of_names)

{'name': ['John', 'Jurgen'], 'surname': ['Smith', 'Fritz'], 'age': [44, 21], 'nationality': ['English', 'German']}

In [9]:
import numpy as np
import sys
print (sys.getsizeof(dict_of_names))
print (sys.getsizeof(list_of_names))

240
80

In [12]:
list2=[2,3,4,5]
integer_number=45

In [16]:
print(type(integer_number))
a=7+6
b=87-65
print (a,b)

<class 'int'>
13 22

In [19]:
a_int=45
a_float=5.6
type(a_int)
type(a_float)
c=int(a_float)

In [20]:
x_string="a"
type(x_string)

str

In [26]:
string_a="hello"
string_b=string_a
print(string_a,string_b)
string_a+=" world"
print(string_a)

hello hello
hello world

In [29]:
#replace an element of the stirng
s="hello world"
s2=s.replace("world","test")
print(s2)

hello test

In [34]:
example="We love Python and we love Javascript"
example_2=example.replace("love","hate",1)
example_2
str.replace

In [36]:
s="hello"
s[0:3]

'hel'

In [43]:
s="hello"
print(s[:1])
print(s[-1])
print(s[:2])
print('Hello'+'World')
dice_roll=3
print('You rolled a'+str(dice_roll)+".")

h
o
he
HelloWorld
You rolled a3.

In [46]:
value_1=2
value_2=3
print(f"Value 1 is {value_1} and value 2 is  {value_2}")

Value 1 is 2 and value 2 is  3

In [58]:
#insert vs append
list_of_animals=[]
list_of_animals.append("dog")
list_of_animals.append("deer")
#list_of_animals.append(["cat","mouse"])
list_of_animals.insert(2,"bird")
list_of_animals.index("bird")

2

In [53]:
list_of_animals.pop(1)

'deer'

In [60]:
#slicing the values
l=[2.0,"a"]
l[0]

2.0

In [67]:
#ranges - this determins the steps. Could be useful in the foor loop
range_list=range(0,10,2)
range_list
list(range_list)

[0, 2, 4, 6, 8]

In [75]:
list_of_animals.append("deer")
list_of_animals.append("lion")
list_of_animals
list_of_animals.count("deer")

8

In [77]:
list_of_countries=["Austria","Australia","Bangladesh","Cambodia"]

In [87]:
#concatenating 2 lists together
list_of_all=list_of_animals+list_of_countries
list_of_all

['dog',
 'deer',
 'bird',
 'deer',
 'deer',
 'lion',
 'deer',
 'lion',
 'deer',
 'lion',
 'deer',
 'lion',
 'deer',
 'lion',
 'deer',
 'lion',
 'Austria',
 'Australia',
 'Bangladesh',
 'Cambodia']

In [89]:
del list_of_all[0]
print (list_of_all)

['bird', 'deer', 'deer', 'lion', 'deer', 'lion', 'deer', 'lion', 'deer', 'lion', 'deer', 'lion', 'deer', 'lion', 'Austria', 'Australia', 'Bangladesh', 'Cambodia']

In [94]:
#unpacking the tuple with .format function
point=(10,20)
x,y=point
print("x={}".format(x))

x=10

In [5]:
#the keys stay the same but the values are changeable, You can only have one occurence of a key in dictionary but all the values 
#could be the same
dict_of_capitals={
    "China":"Beijing",
    "USA":"Washington"
}
dict_of_capitals

{'China': 'Beijing', 'USA': 'Washington'}

In [6]:
#can be called by the keys not values
dict_of_capitals["China"]

'Beijing'

In [10]:
#adding keys to dictionaries
dict_of_capitals["South Africa"]="Cape Town"
dict_of_capitals

{'China': 'Beijing',
 'USA': 'Washington',
 'South Africa': 'Cape Town',
 45: '4.5'}

In [11]:
#chaning the values
dict_of_capitals["South Africa"]="Pretoria"
dict_of_capitals

{'China': 'Beijing',
 'USA': 'Washington',
 'South Africa': 'Pretoria',
 45: '4.5'}

In [12]:
dict_of_capitals[45]="4.5"
dict_of_capitals

{'China': 'Beijing',
 'USA': 'Washington',
 'South Africa': 'Pretoria',
 45: '4.5'}

In [17]:
#listing the items, checking if a key is in dictionary or not
list(dict_of_capitals)
"Nigeria" in dict_of_capitals
"China" in dict_of_capitals

True

In [ ]:
from math import *