<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Classification Exercise

For this exercise, we'll use water pump data from DrivenData.org

Your goal is to predict the operating condition of a waterpoint for each record in the dataset.

It is a multiclass classification problem with `status_group` as the target class.

Take some time to read the data dictionary here: [https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/page/25](https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/page/25)

In [54]:
import pandas as pd

df = pd.read_csv("../assets/data/water_pumps.csv.gz")
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

#### 1: There are a lot of columns, so instead of performing the usual EDA (Exploratory Data Analysis) on *all* columns, choose 3-4 columns to focus on and explore the data checking for (among other things):

- missing values
- strange values
- distributions and relationships in your data

In [27]:
df['amount_tsh'].isna().sum()
df['gps_height'].isna().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 41 columns):
id                       59400 non-null int64
amount_tsh               59400 non-null float64
date_recorded            59400 non-null object
funder                   55765 non-null object
gps_height               59400 non-null int64
installer                55745 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
wpt_name                 59400 non-null object
num_private              59400 non-null int64
basin                    59400 non-null object
subvillage               59029 non-null object
region                   59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
ward                     59400 non-null object
population               59400 non-null int64
public_meeting           56066 non-null object
recorded_by              59400 non-null object
scheme_management        55523 non-null object
scheme_name              31234 non-null object
permit                   56344 non-null object
construction_year        59400 non-null int64
extraction_type          59400 non-null object
extraction_type_group    59400 non-null object
extraction_type_class    59400 non-null object
management               59400 non-null object
management_group         59400 non-null object
payment                  59400 non-null object
payment_type             59400 non-null object
water_quality            59400 non-null object
quality_group            59400 non-null object
quantity                 59400 non-null object
quantity_group           59400 non-null object
source                   59400 non-null object
source_type              59400 non-null object
source_class             59400 non-null object
waterpoint_type          59400 non-null object
waterpoint_type_group    59400 non-null object
status_group             59400 non-null object
dtypes: float64(3), int64(7), object(31)
memory usage: 18.6+ MB

In [28]:
df2.head(4)

,waterpoint_type,installer,source_type,water_quality,status_group
0,communal standpipe,Roman,spring,soft,functional
1,communal standpipe,GRUMETI,rainwater harvesting,soft,functional
2,communal standpipe multiple,World vision,dam,soft,functional
3,communal standpipe multiple,UNICEF,borehole,soft,non functional

In [55]:
df.select_dtypes(exclude=object)
numerical_df=df[['amount_tsh','gps_height','population','construction_year','status_group']]
numerical_df.info()
#df2[df2['installer'].isna()]
#df2['installer'].isna().sum()
#df2['installer'].value_counts(dropna=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 5 columns):
amount_tsh           59400 non-null float64
gps_height           59400 non-null int64
population           59400 non-null int64
construction_year    59400 non-null int64
status_group         59400 non-null object
dtypes: float64(1), int64(3), object(1)
memory usage: 2.3+ MB

In [56]:
numerical_df.columns

for x in ['amount_tsh', 'gps_height', 'population', 'construction_year']:
    numerical_df = numerical_df[numerical_df[x] != 0]

In [57]:
numerical_df.reset_index(drop=True,inplace=True)
numerical_df

,amount_tsh,gps_height,population,construction_year,status_group
0,6000.0,1390,109,1999,functional
1,25.0,686,250,2009,functional
2,200.0,1062,250,1987,functional
3,500.0,1703,35,1978,non functional
4,500.0,1763,1,1992,functional
5,200.0,2216,4,2008,functional
6,500.0,672,210,2011,functional
7,500.0,200,260,2011,functional
8,50.0,180,150,2004,functional
9,4000.0,1955,100,2003,functional
10,25.0,710,50,2008,functional
11,500.0,1803,250,2011,functional
12,20.0,1007,100,2000,functional needs repair
13,20.0,240,30,2004,functional needs repair
14,4000.0,1982,70,2003,functional
15,1500.0,2169,20,2007,functional
16,20.0,783,10,2008,functional
17,20.0,766,1,2008,non functional
18,6.0,962,45,2008,functional
19,500.0,954,567,1985,functional needs repair
20,200.0,303,280,1995,non functional
21,500.0,1153,1,2009,functional
22,500.0,2049,75,2008,functional
23,500.0,1701,441,2000,functional
24,50.0,159,20,2008,non functional
25,200.0,1002,120,2006,functional needs repair
26,200.0,18,40,1987,non functional
27,250.0,1471,950,2007,functional
28,500.0,1274,1430,1978,non functional
29,50.0,701,1,2011,functional needs repair
...,...,...,...,...,...
16162,200.0,1228,650,1996,non functional
16163,6000.0,1542,1,1985,functional
16164,200.0,391,1,1997,functional
16165,100.0,1095,145,1980,functional needs repair
16166,250.0,1099,680,1983,functional
16167,70.0,194,500,1978,non functional
16168,6000.0,532,1,1999,functional needs repair
16169,50.0,182,40,2006,functional
16170,300.0,1379,300,1972,non functional
16171,2000.0,1497,195,1997,functional needs repair
16172,10.0,1137,150,1999,functional
16173,200.0,1597,80,1999,functional
16174,50.0,706,1,2011,functional needs repair
16175,100.0,1583,50,2007,non functional
16176,600.0,834,788,2009,non functional
16177,6000.0,1933,15,2007,functional
16178,600.0,962,500,2008,functional needs repair
16179,50.0,-19,50,2000,functional
16180,50.0,-18,450,2008,functional
16181,500.0,1240,150,1978,functional
16182,5000.0,1137,96,1988,functional
16183,40000.0,54,609,2005,functional
16184,500.0,2101,36,2008,functional
16185,6000.0,1439,50,1999,non functional
16186,6.0,1383,1,2008,non functional
16187,500.0,1327,200,2011,functional
16188,100.0,25,100,2000,functional
16189,500.0,351,89,2007,non functional
16190,10.0,1210,125,1999,functional
16191,4700.0,1212,56,1996,functional

In [32]:
#df3=df2[df2.installer!="NaN"]
df3=df2.dropna(subset=['installer']) 
df3['installer'].value_counts(dropna=False)

DWE                      17402
Government                1825
RWE                       1206
Commu                     1060
DANIDA                    1050
KKKT                       898
Hesawa                     840
0                          777
TCRS                       707
Central government         622
CES                        610
Community                  553
DANID                      552
District Council           551
HESAWA                     539
World vision               408
LGA                        408
WEDECO                     397
TASAF                      396
District council           392
Gover                      383
AMREF                      329
TWESA                      316
WU                         301
Dmdd                       287
ACRA                       278
World Vision               270
SEMA                       249
DW                         246
OXFAM                      234
                         ...
SSU                          1
Magul                        1
Shule ya msingi ufala        1
Usambala sisters             1
Juma Makulilo                1
Motiba Manyanya              1
DANNIDA                      1
Africa M                     1
Shamte Said                  1
Shingida yetu                1
Arrian                       1
Yasini Selemani              1
Regina group                 1
LUKE SAMARAS LTD             1
inkinda                      1
Cetral government /RC        1
nandra Construction          1
ISF and TACARE               1
TASAF/TLC                    1
Mambe                        1
Rotary club kitchener        1
Chuo                         1
Noshad                       1
K/Primary                    1
Indiv                        1
J. Mc                        1
JSICA                        1
ANGLIKANA CHURCH             1
maendeleo ya jamii           1
Megis                        1
Name: installer, Length: 2145, dtype: int64

#### 2: how many rows are there in each class/label?

#### 3: Do a train-test split. What is the make-up of the labels in your train and test sets?

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(numerical_df.drop("status_group", axis=1),
                                                    numerical_df["status_group"],
                                                    test_size=0.3,
                                                    random_state=1)
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
accuracy_score(y_test, y_pred)

#### 4: Using your training set, obtain a basic KNN model's precision and efficiency

#### 5: BONUS - obtain a better value for k using cross validation score

Hint: check this link for help

https://www.ritchieng.com/machine-learning-efficiently-search-tuning-param/

#### 6: BONUS - obtain a better value for k using grid search - how much can you improve your score?